.social {
    display: inline-block;
    width: 45px;
    height: 45px;
    margin: 0 6px;
    background: url('/src/assets/img/icons/social.png') no-repeat;
    cursor: pointer;

    &:hover {
        background-position-y: -46px;
    }

    &--vk {
        background-position: 0 0;
    }
    &--inst {
        background-position: -46px 0;
    }
    &--tw {
        background-position: -92px 0;
    }

}

